body{
    font-family: Microsoft JhengHei;
    margin: 0;
}

h2::selection,h1::selection{
    background: greenyellow;  
    color: gray;
}

p::selection{
    background: orange;  
    color: aliceblue;
}

.wrapper{
    background-color: inherit;
    width: 100%;
    overflow-x: hidden;
}

.banner{
    width: 100%;
    height: 100vh;
    // border-bottom: 1px solid rgb(216, 228, 233);
    //↓下面三行是flex的上下置中~對齊語法
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    &-content{
        width: 40%;
        height: 30%;
        padding: 5%;
    }

    &-image{
        background-image: url(../image/2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* ↑上面四行是一個集團，注意每次用到bgImage都要加這四句 */
        width: 50%;
        height: 100%;
        background:#fff;
        background:linear-gradient(top,#ffffff,rgba(51,51,51,0.1)),url(../image/2.jpg) center bottom no-repeat;
        background:-moz-linear-gradient(top,#ffffff,rgba(51,51,51,0.1)),url(../image/2.jpg) center bottom no-repeat;
        background:-webkit-linear-gradient(top,#ffffff,rgba(51,51,51,0.1)),url(../image/2.jpg) center bottom no-repeat; 

        &-right{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            right: 0;
            top: 0;
        }

    }
}

.container{
    background-color: white;
    height: 300px;
    border-bottom: 1px solid rgb(216, 228, 233);
    border-top: 1px solid rgb(216, 228, 233);
    position: relative;
    z-index: 1;
    opacity: 0.7;

    &:hover{
        transform: scale(1.1);
        border-top: 1px solid rgb(216, 228, 233);
        border-bottom: 1px solid rgb(216, 228, 233);
        opacity: 1;

    }

    &-right{
        position: relative;
        transform: translate(40%);
        border: none;
        border-left: 1px solid rgb(216, 228, 233);
        border-radius: 10px;
        z-index: 0;

        &:hover{
            display: block;
            transform: translate(0%);
            border: none;
        }
        
    }
    
    &-content{
        width: 50%;
        padding: 5%;
        margin: 0;
        
        &-right{
            float: right;
        }

    }

    &-image{
        width: 40%;
        height: 100%;
        border-radius: 10px;
        &-left{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            float: left;
        }
   
        &-right{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            right: 0;
            top: 0;
        }

    }
    
}

.actions{
    padding-left: 0;
}

.button{
    background-color: white;
    border:1px solid #dbd9d9;
    padding: 10px 30px;
    border-radius: 40px;
    transition: background .2s linear, border-radius .5s ease-in;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    color: brown;

    &:hover{
        color: powderblue;
        background-color: #555555;
        border-radius: 0;
        transition: background .1s linear, border-radius .5s ease-in .5s;
    }
    
}

.scrol{
    /* height: 60vh; */
    /* margin-bottom: 0; */

    &-inner{
        height: 35%;
        padding: 5%;
        margin: 0;
    }

    &-menu{
        position: relative;
        max-width: 100%;
        height: 52%; /* hide the scroll bar*/
        margin-top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
   
        &-wrapper{
            height: 100%; /* hide the scroll bar*/
            box-sizing: border-box;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            margin: 0;
            padding: 0;
          
            &-item{
                display: inline-block;
                width: 33%;
                height: 100%;
                box-sizing: border-box;
   
                &-image{
                    width: 100%;
                    height: 15rem;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

            }

        }

    }

}

.paddle{
	position: absolute;
	top: 0;
    bottom: 0;
    height: 98.5%;
 
    &-left{
        left: 0;
    }
 
    &-right{
        right: 0;
    }

}

.logo{
    text-align: center;
    height: 150%;
    border-bottom: 1px solid rgb(216, 228, 233);
    
    &-header{
        margin: 0 3% 0 3%;
        padding: 3% 5% 3% 5%;
        height: 100%;
    }

    &-box{
        padding: 20px 0;  
        
        &-area{
            width: 90%;
            margin: 0 auto;
            padding: 3% 0 0 0;
            
            &-boxer{
                width: 26.5%;
                height: 20rem;
                text-align: center;
                padding: 8% 3% 3% 3%;
                overflow-x: auto;
                overflow-y: hidden;
                display: inline-block;
                border-bottom: 1px solid rgb(216, 228, 233);
                           
                & + &{
                    border-left: 1px solid rgb(216, 228, 233);
                    border-right: 0;
                }
       
                &:nth-of-type(3n+1){
                    border-left: 0;
                }

                &:nth-of-type(n+10){
                    border-bottom: 0;
                }
                
            }
 
        }

    }
    
}

h3{
    margin: 0 0 5% 0;
    height: 10%;
    
    &::selection{
        background: blanchedalmond;  
        color: blueviolet;
    }

}

.icon-border{
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid rgb(216, 228, 233);
    border-radius: 2.75rem;
    margin: 0 auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post{
    width: 100%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid rgb(216, 228, 233);
    
    &-file{
        height: 100%;
        padding: 3%;
        padding-top: 6%;
        padding-bottom: 2%;
        
        &-h2{
            margin-top: 0;
            margin-bottom: 2%;
            height: 10%;
            font-size: 40px;
            font-weight: lighter;
        }

        &-input{
            width: 100%;
            height: 70%;
            margin: 0;
            margin-bottom: 3%;
            
            &-list{
                width: 100%;
                height: 28rem;
                float: none;
                padding-bottom: 3%;
                
                &-half{
                    width: 43%;
                    height: 6rem;
                    float: left;
                    align-items: center;
                    margin: 0;
                    padding: 4% 0 0 4%;
                    
                    &-name{
                        width: 100%;
                        height: 35%;
                        padding-bottom: 3%;
                    }

                    &-email{
                        width: 100%;
                        height: 35%;
                        padding-bottom: 3%;
                    }

                }
                
                &-whole{
                    width: 92%;
                    height: 65%;
                    float: left;
                    margin: 0;
                    padding: 3% 0 0 3%;
                    
                    &-message{
                        width: 100%;
                        height: 2rem;
                        padding-bottom: 2%;
                    }

                }

            }

        }
        
    }

}

label{
    display: block;
}

input{
    width: 96%;
    height: 50%;
    padding: 0 2% 0 2%;
    float: left;
}

textarea{
    width: 95%;
    height: 210px;
    padding: 2%;
}

ul{
    padding-left: 0;
}

.footer{
    width: 94%;
    height: 100%;
    padding: 5% 3% 5% 3%;
    
    &-p{
        margin-top: 0;
        text-align: center;
    }

    &-a{
        border-bottom: 1px solid #555555;
           
        &:hover{
            color: powderblue;
            border: none;
        }

    }
    
}

@media screen and (min-width:850px){
    .post-file-input-list {
        height: 30rem;
    }
}

@media screen and (min-width:1000px){
    .post-file-input-list {
        height: 31rem;
    }
}

@media screen and (min-width:1400px){
    .post-file-input-list {
        height: 33rem;
    }
}

@media screen and (max-width:850px){
    .container-content{
        padding: 2% 5% 2% 5%;
    }
}

@media screen and (max-width:735px){  
    .banner{
        &-image{
            width: 100%;
            height: 50%;

            &-right{
                left: 0;
            }
        }
    
        &-content{
            width: 90%;
            padding: 5%;
            text-align: center;
            margin: 60vh 0 0 0;
        }

    }

    .container{
        height: 75vh;
        border-bottom: 1px solid rgb(216, 228, 233);
        position: relative;
        
        &-right{
            position: relative;
            transform: translate(95%);
        }
        
        &-content{
            width: 90%;
            padding: 5%;
            margin: 0;
            text-align: center;
            margin: 43vh 0 0 0;
            float: right;
        }

        &-image{
            width: 100%;
            height: 60%;
            
            &-left{
                position: absolute;
            }

        }

    }

    .scrol-menu-wrapper-item{
        width: 48%;
    }

    .paddle{
        height: 92%;
    }

    .logo-box-area-boxer{
        width: 43%;
        height: 18rem;
        padding: 3% 3% 0.5rem 3%;
        
        & + &{
            border-left: 1px solid rgb(216, 228, 233);
        }    

        &:nth-of-type(n+10){
            border-bottom: 1px solid rgb(216, 228, 233);
        }
        
        &:nth-of-type(2n+1){
            border-left: 0;
        }

        &:nth-of-type(n+11){
            border-bottom: 0;
        }

    }

}

@media screen and (max-width:480px){

    .banner{
        &-image{
            width: 128vw;
        }
    }

    .container{
        &-content{
            width: 90%;
            padding: 5%;
            margin: 0;
            text-align: center;
            margin: 41.5vh 0 0 0;
            float: right;
        }
        
        &-image{
            width: 100%;
        }

    }

    .scrol-menu-wrapper-item{
        display: inline-block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
  
    .post-file-input-list-half{
        width: 88%;
    }

    .logo-box-area-boxer{
        width: 100%;
        height: 13rem;
        padding: 3% 3% 0.5rem 3%;
        
        & + &{
            border-left: 0;
        }    
      
        &:last-of-type{
            border-top: 1px solid rgb(216, 228, 233);
        }

    }

    .icon-border{
        margin-bottom: 3%;
    }

    body{
        min-width: 480px;
    }
    
}

@media screen and (max-width:414px){
    .banner{
        height: 117vh;
        &-content{
            margin: 65vh 0 0 0;
        }
        &-image{
            width: 116vw;
            height: 65vh;
        }
    }

    .container{
        height: 92vh;
        &-content{
            margin: 46vh 0 0 0;
            padding: 14% 5% 5% 5%;
        }
    
    }

    .paddle{
        height: 98.6%;
    }

    input{
        width: 98%;
    }

}

@media screen and (max-width:375px) and (min-height:812px){
    .banner{
        height: 128vh;
        &-content{
            margin: 80vh 0 0 0;
        }
        &-image{
            width: 128vw;
            height: 75vh;
        }
    }

    .container{
        height: 92vh;
        &-content{
            margin: 50vh 0 0 0;
            padding: 14% 5% 5% 5%;
        }
    
    }

    .paddle{
        height: 99%;
    }

    .post-file-input-list{
        height: 30rem;
    }

    input{
        width: 97.5%;
    }

    textarea {
        width: 96%;
        height: 210px;
        padding: 2% 0 0 2%;
    }

}

@media screen and (max-width:375px) and (max-height:667px){
    .banner{
        height: 128vh;
        &-content{
            margin: 70vh 0 0 0;
        }
        &-image{
            width: 128vw;
            height: 70vh;
        }
    }
    .container{
        &-content{
            margin: 41vh 0 0 0;
            padding: 20% 5% 0% 5%;
        }
    }
}

@media screen and (max-width:360px){
    .banner{
        height: 135vh;
        &-image{
            width: 133.3vw;
            height: 70vh;
        }
        &-content{
            margin: 70vh 0 0 0;
        }
    }
    .container{
        &-content{
            margin: 40vh 0 0 0;
            padding: 17% 5% 0% 5%;
        }
    }
}

@media screen and (max-width:320px){
    .banner{
        height: 150vh;
        &-image{
            width: 150vw;
            height: 85vh;
        }
        &-content{
            margin: 85vh 0 0 0;
        }
    }
    .container{
        height: 100vh;
        &-content{
            margin: 52vh 0 0 0;
            padding: 6% 5% 0% 5%;
        }
    }
}
